syntax: glob

[Bb]inaries/

# Build tools related files
/[Tt]ools/

### VisualStudio ###

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.swp

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log

# add back architecture directories ignored in 'Build results'
!tests/x86

# Visual Studio 2015
.vs/